
.main{
    height: 1000px;

}
.A {
    width: 100%;
    height: 500px;
}

.A1{
    background-color: rgb(19, 155, 110);
    width: 50%;
    float: left;
    height: 500px;
}
.A2{
    background-color: blue;
    width: 50%;
    float: left;
    height: 500px;
}
.B{
    background-color: yellow;
    height: 500px;
    width: 100%;
}
.B11{
    height: 50px;
    background-color: brown;
    width: 50%;
    float: left;
}

.B22{
    height: 50px;
    width: 50%;
    background-color: chocolate;
    float: left;
}
.b2{
    height: 100px;
    width: 50%;
    background-color: rgb(16, 237, 12);
    float: left;
}

.b1{
    height: 100px;
    width: 50%;
    background-color: rgb(243, 38, 233);
    float: left;
}
